#getinfo {
	width: 600px;
	border: 1px solid black;
	overflow-wrap: break-word;
	margin: 10px;
}
#channels {
	width: 600px;
	border: 1px solid red;
	margin: 10px;
}
#connections {
        width: 600px;
        border: 1px solid red;
        margin: 10px;
}
#invoices {
	width: 600px;
	position: relative;
	border: 1px solid green;
	overflow-wrap: break-word;
	margin: 10px;
}

#funding {
	width: 600px;
	border: 1px solid blue;
	overflow-wrap: break-word;
	margin: 10px;
}
#buttons{
	width: 600px;
	margin: 10px;
}
