<html>
<head>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='fulmo.js') }}"></script>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
	<title>&#9889;fulmo&#9889;</title>
</head>
<body>
	<h1>&#9889;fulmo: a minimalist c-lightning UI&#9889;</h1>
	<div id="tabs">
		<input id="shownodeinfo" type="button" value="Node Info" />
		<input id="showchannelspeers" type="button" value="Channels and Peers" />
		<input id="showpayments" type="button" value="Payments" />
		<input id="showall" type="button" value="Show All" />
	</div>
	<div id="getinfo">
		<span id="getinfoTitle">LN Node Info:<br /><span>
		<span id="getinfoText"><span>
	</div>
	<div id="channels">
		<span id="channelTitle">
			Channels:<br />
			<a href="https://github.com/ElementsProject/lightning#different-states">
				Channel State Definitions
			</a><br /><br />
		</span>
		<span id="channelText"></span><br />
	</div>
        <div id="connections">
                <span id="connectionTitle">
			Open a Channel:<br />
			<a href='https://lnmainnet.gaben.win/?100='>Find a node to connect to</a>
			<br />
		</span>
                <span id="connectionText"></span><br />
                <input id="connection" type="text" value="NodeID@IPaddress:Port" size="50"><br />
		<input id="connectionAmount" type="number" value="100000">Satoshis<br />
                <input id="connect" type="button" value="Connect">
	</div>
	<div id="balances">
		<span id="onchainbalance"></span>
		<span id="lightningbalance"></span>
	</div>
	<div id="funding">
                <span id="fundingTitle">Funding:<br /></span>
                <span id="fundingText"></span><br />
                Bech32?
                <input id="bech32" type="checkbox" checked="checked"><br />
                <input id="fundingButton" type="button" value="Generate Address"/>
        </div>
	<div id="invoices">
		<span id="invoiceTitle">Invoices:<br /></span>
		<span id="invoiceText"></span><br />
		MilliSatoshis:
		<input id="invoiceAmount" type="text" value="100000"/><br />
		Payment Description:
		<input id="invoiceDescription" type="text" value="pizza"/><br />
		Generate QR Code?
		<input id="invoiceQR" type="checkbox"/><br />
		<input id="createInvoice" type="button" value="Create Invoice" />
	</div>
	<div id="payment">
		<span id="paymentTitle">Make a Lightning Payment:<br /></span>
                <span id="paymentText"></span><br />
		<textarea id="bolt11"></textarea><br />
		<input id="decodebolt11" type="button" value="Decode Payment" />
		<input id="paybolt11" type="button" value="Send Payment" />
	</div>
	<div id="buttons">
		<input id="clear" type="button" value="Clear" />
		<div id="help" title="Press F12 and go to the JavaScript console for Help">
			<input id="help" type="button" value="Help" />
		</div>
	</div>
</body>
</html>
